.item {
  display: flex;
  margin-bottom: 20px;
}


.item__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}

.item__img-box {
  margin-right: 40px;
}

.item__img {
  width: 145px;
  height: auto;
}

.item__title {
  margin: 0;
  margin-bottom: 5px;
  color: darkcyan;
  font-weight: bold;
  font-size: 22px;
}


.item__price {
  font-weight: bold;
  margin-top: auto;
}

.item__btn {
  margin-top: 10px;
}